# Document Title

### Date:30 May 2019

### Sesion Objectives
 * To Introduce **Jupyter Notebooks**
 * To teach **markdown** syntax
 * To introduce ***Python*** Basics
 
     * Basic Syntax(Variables, Assignment, Data Types)
     * Control Structures
        1. Conditional
        2. Repetitiv
    
  
  
  <img src='python-logo.png'/>
   
   
   
   link to main website (https://sites.google.com/s/1A0WTjt8GaTecRGqy6vRykViJLu8dARd5/p/1kJ1AxNb5C0TUdu334JijmYp7wu9FfLnw/edit)
   
   Link to markdown Resources(https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet)

# Python Basics

In [5]:
print('Hello World')  #single parameter
print("Hello","World",end=" : ") #multiple parameter
print("Hello"+"World")

Hello World
Hello World : HelloWorld

In [9]:
#this is a input function

n = input("enter a value") #capture the input and store it to n   print assumes entered valaue as string
print(n)

enter a value34
34

In [13]:
n = int(n) # Type conversion to integer and reassign 
n*n
n*n/5645-2323434 # Expression evaluation using   integer value means it show out in red color , if string means it not show

-2323433.795217006

In [28]:
a=b=c=n # Assigning a single value to multiple variables
print(a,b,'\n',c)
c
d,e,f=123,345,37  # Assigning 
print(d,type(d),e,f)

34 34
 34
123 <class 'int'> 345 37

In [30]:
# type conversion
print(type(c))
c=str(c)
print(type(c))
c=float(c)
print(type(c))

<class 'str'>
<class 'str'>
<class 'float'>

In [84]:
4//2

2

In [85]:
14//3

4

In [86]:
14/3

4.666666666666667

# String Slicing

In [48]:
s1 = 'Python Programming'
print(len(s1))
print(s1[0]) # 0 indicates from starting the first character
print(s1[1]) # 1 indicates from starting the second character
print(s1[-1]) #-1 indicates from lsat the first character
s1[0:6]   # it prints 6 characters from starting while taking range()

18
P
y
g

'Python'

In [47]:
print(s1[:6])
print(s1[7:])  # Accessing all characters from 7th index to last
s1[7:len(s1)]

Python
Programming

'Programming'

In [49]:
s1[:]

'Python Programming'

In [51]:
s1[::-1]  # Reverse of string

'gnimmargorP nohtyP'

In [54]:
s1[-1:6:-1]  # Reverse of sub-string

'gnimmargorP'

In [55]:
s1[5::-1]

'nohtyP'

In [56]:
s2='123456789'
s2[-1:2:-1] # Reverse of the last len(s2)-3 characters

'987654'

In [57]:
s2[5:2:-1] # Reverse of characters from 5th index to index

'654'

In [59]:
s2[0::2] # Accessing alternative characters

'13579'

In [60]:
s2[-1::-2]  # Accessing alternative characters in reverse order

'97531'

# Functions in Python

In [61]:
# Funtion to reverse a string
def reverseString(s):
    return s[::-1]

print(reverseString(s2))
reverseString(s1)

987654321

'gnimmargorP nohtyP'

In [66]:
# function to reverse a substring
def reverseSubstring(s,i,j):
    sub=s[i:j+1]
    return sub[::-1]

reverseSubstring('abcde',0,2)

'cba'

# Conditional Control Structures

In [70]:
# Function to test divisibility by 9 and 11 not by 10
def divisibility(n):
    if(n % 9 == 0 and n % 11 == 0 and n%10 !=0):
        return True
    else:
        return False
    
print(divisibility(99))
divisibility(990)

True

False

In [73]:
# Recusive function for a power n

def powerN(a,n):
    if n==0:
        return 1
    return a*powerN(a,n-1)

powerN(2,6)

64

In [76]:
# Function to check if a given string is palindrome
def isPalindrome(s):
    rs=s[::-1]
    if(s == rs):      # directly if(s==s[::-1])
        return True
    else:
        return False
    
isPalindrome(input("enter string"))

enter stringsas

True

# Iteration in Python

In [80]:
for i in range(10,16):
    print(i)

10
11
12
13
14
15

In [83]:
# Function to determine all numbers divisible by 7 in the given range[lb,ub]
def divisible7(lb,ub):
    for i in range(lb,ub+1):
        if(i % 7 == 0):
            print(i)
    return
        
        
divisible7(20,55)

21
28
35
42
49

In [93]:
# Funtion to generate N prime Numbers

def isFactor(dividend,divisor):
    if dividend % divisor == 0:
        return True
    return False

def isPrime(n):
    for i in range(2,n//2 +1):
        if isFactor(n,i):
            return False
    return True

def genPrime(k):
    pcounter=0
    seqCounter=2
    while(pcounter<n):
        if isPrime(seqCounter):
            print(seqCounter,end=' ')
            pcounter += 1
        seqCounter += 1
        
genPrime(10)

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139

# Higher order computation

In [98]:
num= 987 ** 987
print(type(num))
print(len(str(num)))
num

<class 'int'>
2956

2460535781140104173637653659632203571122230528211735052684099498171266012811967651653273156962961864044501410140688011357988219820992511126632035657391233532880084910884888712738429081057677931150284256219901095754103705463986035205617580550687149793705127835587798646661655397882371692536172300621270996188787814627354885692515591522725741398040202920655555966275508114855499308772348323303450075166289875521178599082643995507691983818482260462185571383223251644435609064852815537164479625166432826377689289666505703370514158532627785425618979251948262096329791601441594587588010975921217220697077473738921878932980888525106406241343101894835229899166638462337134475456602739804700102130114826189720971576751130898296132953448555589296854734499107961263735109910578618603765254611798537815367107396064449819660029947567248202970065409533252686215209589574364453353090041751918276607632418908785263077499110273334996668794125324003078824936936974734952557993181961215429470153325628547313944801971885787051402688234289667329771654023675682729893159716454770623931460100793670636455765944986422179201176098660318249661980047868150739734727474539273802308632961585396354465190915794331524660701836429575222555672571140673019747670927863718379945500316836034651028604111604491883125140483475749904594893511689939963570127470472250992921472453307516800357359995663723587410502506615853264194766451891366139051897500883820131322783355244425780660189795654993986230582199824455663356822812725824905056951421725927708936116415909587281968856826037446247166502841459637736451156932058350901212152550103090523068895443013972934003065084057174959987796174504089556868933843467422903066941607327341577466772675234294324417817024575090875305715180048890861742479721573169700147947166704745665880280009020497900647644003535278168130693342951317939287568065603112139509198287862950201901283920892530129026130292507875369241498209209316239478875814347258055580031358432531676422129873685514643093663131605371250467676681691064686621444823068860018747668355945044471285875873927399640756667946958576516304102878272200002331862462239585163498114030349414043888815935039109334633350957561567851210854541240219824246178250612725506289479292196766910465179977342776303033630791839098703383670908842208044157209708504160741888992872078757787519199883111697487199074484344474982998386727155076504471221397420728448605033364224841039207403864268112468114268114894739984334693998999225042714947907451405529369921597858417656209302032388463992008682552660019233523098954855223161530648151874072198831375211928045519264105647868651969201559257746590175357930370775803494028214207058581591135109730063646291025198109234271737640251824199315522082019208909260635913636109487303603458951399447717335408596987350440737452298332626740781090134967660295582582264381809669356116487113624867890455675550454414529147423466610787045742332116730634852560566783055265834644347758598866101134083

In [102]:
num=987654321 ** 98765
print(type(num))    # 88353   time less than miniute
print(len(str(num)))

<class 'int'>
888353

# Python Lists

In [112]:
li=[1,2,3,4,5,6,'python',5.7]
li

[1, 2, 3, 4, 5, 6, 'python', 5.7]

In [106]:
li[-1]

5.7

In [107]:
print(type(li))

<class 'list'>

In [113]:
li[-2]

'python'

In [109]:
type(li[6][0])

str

In [114]:
del(li[3])

In [115]:
li

[1, 2, 3, 5, 6, 'python', 5.7]

In [118]:
li.append(123)
li

[1, 2, 3, 5, 6, 'python', 5.7, 123, 123, 123]

In [119]:
li.append([234,456,'vasu'])
li

[1, 2, 3, 5, 6, 'python', 5.7, 123, 123, 123, [234, 456, 'vasu']]

In [120]:
li1=[1,2,4,'python',5.6,5.6]
li1.remove(5.6)
li1.append([123,234])
li1

[1, 2, 4, 'python', 5.6, [123, 234]]

In [124]:
li1

[1, 2, 4, 'python', 5.6, [123]]

In [125]:
li1.append([345,456])
li1

[1, 2, 4, 'python', 5.6, [123], [345, 456]]

In [126]:
li1[6].remove(456)
li1

[1, 2, 4, 'python', 5.6, [123], [345]]

In [127]:
li1[6].insert(1,567)
li1

[1, 2, 4, 'python', 5.6, [123], [345, 567]]

In [128]:
li1.pop(5)
li1

[1, 2, 4, 'python', 5.6, [345, 567]]

In [131]:
print(li)
li1.extend(li)

[1, 2, 3, 5, 6, 'python', 5.7, 123, 123, 123, [234, 456, 'vasu']]

In [137]:
l3=[2,3,4,5,6]
l4=[9,7,8]
l3.extend(l4)

In [138]:
l3

[2, 3, 4, 5, 6, 9, 7, 8]

In [139]:
l3.sort()

In [140]:
l3

[2, 3, 4, 5, 6, 7, 8, 9]

In [142]:
l3.sort(reverse=True)

In [143]:
l3

[9, 8, 7, 6, 5, 4, 3, 2]